@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.list,
.link-focus,
.ul-address {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 32px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  list-style: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--body);
  width: 1280px;
  margin: auto;
}

.text {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  list-style: none;
}

.text__h2 {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  margin-bottom: 40px;
  list-style: none;
  text-align: center;
  margin-left: -30px;
}

.hidden-visally {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.hidden-visally .description__text {
  color: var(--secondory-text-color);
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
}

.button {
  color: var(--button-text);
  background-color: var(--button);
  display: inline-block;
  margin-top: 28px;
  padding: 10px 32px;
  min-width: 145px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
          box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
  border-radius: 25px;
  text-align: center;
  border-color: transparent;
  -webkit-transition: background-color 250ms var(--timing-functione);
  transition: background-color 250ms var(--timing-functione);
}
.button:hover, .button:focus {
  background-color: #ffffff;
  color: var(--button);
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
  -webkit-box-shadow: 11px 21px 93px -62px;
          box-shadow: 11px 21px 93px -62px;
  border-color: var(--button);
}

.price__button {
  color: var(--button-text);
  background-color: var(--button);
  display: inline-block;
  padding: 10px 32px;
  min-width: 145px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
          box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.4509803922);
  border-radius: 25px;
  text-align: center;
  border-color: transparent;
  -webkit-transition: background-color 250ms var(--timing-functione);
  transition: background-color 250ms var(--timing-functione);
  margin-bottom: 40px;
  margin-left: 125px;
}
.price__button:hover, .price__button:focus {
  background-color: #ffffff;
  color: var(--button);
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
  -webkit-box-shadow: 11px 21px 93px -62px;
          box-shadow: 11px 21px 93px -62px;
  border-color: var(--button);
}

.nav__link {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  list-style: none;
}
.nav .nav__items:not(:last-child) {
  margin-right: 20px;
  list-style: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.head {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 60px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text);
  text-decoration: none;
  text-align: left;
  margin-left: 16px;
  background-image: url(../images/header/decor.png);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 65px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.head_h2 {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: var(--text);
  text-decoration: none;
  text-align: left;
  margin-left: 16px;
}

.header {
  padding-bottom: 278px;
  background-image: url(../images/header/glazed-space1.png);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  border-color: tomato;
}

.header__nav_logo,
.header__text {
  padding-top: 36px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.about__img {
  width: 608px;
  height: 381xp;
}

.about__2 {
  margin-left: 32px;
}

.about__box {
  height: 264x;
  width: 608px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.program {
  background-image: url(../images/el3.png);
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 161px;
}

.program__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 143px;
  gap: 30px;
}

.program__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program__hed {
  text-align: left;
}

.program__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program__box1 {
  margin-top: -160px;
  margin-bottom: 100px;
}

.program__text {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: -130px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--button-text);
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 16px;
}

.program__box2 {
  margin-bottom: 100px;
}

.program__text_p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--button-text);
  position: relative;
  display: block;
  list-style: none;
}

.program__tex {
  padding-right: 20px;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__items > .price__item {
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  width: 395px;
  height: 610px;
  border-radius: 25px;
  padding-top: 28px;
  background-image: url(../images/price/colorful-and-tasty-donuts2.png);
  background-repeat: no-repeat;
  background-position: 25% 75%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.price__items > .price__item:hover, .price__items > .price__item:focus {
  -webkit-transform: scale(1.012);
          transform: scale(1.012);
  -webkit-box-shadow: 11px 21px 93px -62px;
          box-shadow: 11px 21px 93px -62px;
}

.price__items .price__item + .price__item {
  margin-left: 32px;
}

.price__img {
  background-color: #fafbfb;
}

.price__items .price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__imgLu {
  padding-left: 12px;
  list-style-type: none;
}

.price__imgLu > li {
  padding-left: 28px;
  background-image: url(../images/price/Іко.png);
  background-position: 0 0;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin: 8px 10px;
}

.price__hed {
  text-align: center;
  margin-bottom: 27px;
  margin-top: 101px;
}

.speakers__hed {
  margin-top: 100px;
  text-align: center;
}

.speakers__crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}
@media screen and (min-width: 1200px) {
  .speakers__crew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .speakers__crew > .items {
    background-color: var(--body-background-color);
  }
}
.speakers__crew > .items {
  background-color: var(--body-background-color);
}
@media screen and (min-width: 1200px) {
  .speakers__crew > .items {
    width: 270px;
  }
}

.speakers__img {
  width: 288px;
  height: 288px;
  border-radius: 50px;
}

.speakers__conteiner {
  display: block;
  padding: 30px 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.speakers__team {
  margin-bottom: 20px;
}

.speakers__text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  list-style: none;
}

.speakers__textT {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  list-style: none;
}

.reviews__hed {
  margin-top: 100px;
  text-align: center;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  margin-top: 22px;
}

.reviews__conteiner {
  display: block;
  padding: 8px 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

.reviews__position {
  margin-top: 148px;
}

.reviews__textT {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  list-style: none;
}

.reviews__text {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
  position: relative;
  display: block;
  text-align: center;
  list-style: none;
}

.registration__hed {
  margin-top: 100px;
  text-align: center;
}

.contact__hed {
  margin-top: 100px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 101px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 33px;
  padding-right: 16px;
}

:root {
  --text: #3C322D;
  --button: #F3848C;
  --button-text:#FFFFFF;
  --body: #e4e4e5;
  --timing-functione: cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */