.about {
    display: flex;
    margin-top: 64px;
}

.about__img {
    width: 608px;
    height: 381xp;
    // margin-top: 64px;
}
.about__2{
   margin-left: 32px; 
}

.about__box {
    // border: 5px solid darkblue;
    height: 264x;
    width: 608px;
        padding-top: 32px;
            padding-bottom: 32px;
}