.contact__hed {
    margin-top: 100px;
    text-align: center;
}

.registration__textn {
    font-family: "Montserrat";
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text);
    list-style: none;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 443px;
    margin-right: 443px;
    gap: 18px;
}
.contact__input {
    width: 212px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    color: var(--text);
    background-color: var(--body);
    
    background: var(--body);
    border-bottom: 1px solid rgb(46, 37, 32);
}
.contact__text {
    font-family: "Montserrat";
  
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text);
    position: relative;
    display: block;

    list-style: none;
}
