.footer {
    display: flex;
    margin: 101px 0;
    justify-content: space-between;
    padding-left: 33px;
    padding-right: 16px;
    
}
.footers__text {
    font-family: "Montserrat";
    
        font-size: 16px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--text);
        position: relative;
        display: block;
    
        list-style: none
}

