.nav__link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text);
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    list-style: none;
}
.nav {
    // margin-top: 5px;
    display: flex;
    margin-left: 16px;
    // transition: color 250ms var(--timing-functione), fill 250ms var(--timing-functione);
list-style: none;

    & .nav__items:not(:last-child) {
        margin-right: 20px;
        list-style: none;

    }
}
.conteiner {
        margin-left: auto;
         margin-right: auto;
         padding-left: 15px;
            padding-right: 15px;
            width: 100%;
}