.program {
  // background-image: url(../images/el3.png);
  // background-repeat: no-repeat;
  // background-position: 25% 15%;
    z-index: 2;
    position: relative;
    
  margin-top: 161px;
}
.program__box {
  display: flex;
  margin-left: 143px;
  gap: 30px;
}

.program__p {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
}
.program__hed {
  text-align: left;
}
.program__basic {
  display: flex;
  justify-content: space-between;
}
.program__box1 {
  margin-top: -160px;
  margin-bottom: 100px;
}
.program__text {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: -130px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--button-text);
  position: relative;
  display: block;
  list-style: none;
  margin-bottom: 16px;
}
.program__box2 {
  margin-bottom: 100px;
}
.program__text_p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--button-text);
  position: relative;
  display: block;
  list-style: none;
}

.program__tex {
  padding-right: 20px;
}
.program__img {
  z-index: -1;
    position: absolute;
    margin-top: -201px;
    margin-left: 111px;
}